<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind playground</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body class="">
    <div class="bg-gray-100 min-h-screen">
        <nav class="bg-slate-800">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button-->
                        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <!--
                  Icon when menu is closed.
      
                  Menu open: "hidden", Menu closed: "block"
                -->
                            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <!--
                  Icon when menu is open.
      
                  Menu open: "block", Menu closed: "hidden"
                -->
                            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex flex-shrink-0 items-center">
                            <img class="block h-8 w-auto lg:hidden" src="favicon.ico" alt="Your Company">
                            <img class="hidden h-8 w-auto lg:block" src="favicon.ico" alt="Your Company">
                        </div>
                        <div class="hidden sm:ml-6 sm:block">
                            <div class="flex space-x-4">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                <a class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>

                                <a href="statistics" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Statistics</a>

                                <a href="settings" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Settings</a>

                                <a href="about" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">About</a>
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="sm:hidden" id="mobile-menu">
                <div class="space-y-1 px-2 pt-2 pb-3">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>

                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Statistics</a>

                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Settings</a>

                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">About</a>
                </div>
            </div>
        </nav>
        <div class="container max-w-7xl mx-auto mt-8 rounded overflow-hidden">
            <table class="border-collapse table-auto w-full text-md ">
                <thead>
                    <tr>
                        <th class=" font-bold pl-2 pt-2 pb-3 text-white text-left bg-slate-800">
                            Date/Time</th>
                        <!-- <th class=" font-bold pt-2 pb-3 text-white text-left bg-slate-800">Income/Expense
                        </th> -->
                        <th class=" font-bold pt-2 pb-3 text-white text-left bg-slate-800">Type</th>
                        <th class=" font-bold pt-2 pb-3 text-white text-left bg-slate-800">Amount</th>
                        <th class=" font-bold pt-2 pb-3 text-white text-left bg-slate-800">Note</th>
                        <th class=" font-bold pt-2 pb-3 text-white text-left bg-slate-800">
                            Actions</th>
                    </tr>
                </thead>
                <tbody id="data-tbody">
                    <!-- <tr class="bg-red-200 border-b-2">
                        <td class="p-2">2023-03-06 14:13</td>
                        <td>Expense</td>
                        <td>Food</td>
                        <td class="pl-3">2.54</td>
                        <td>No note here</td>
                        <td>
                            <div class="flex gap-4 justify-end pr-4">
                                <a href="#"><img class="w-4 inline-block" src="icons/edit.svg" alt="edit"></a>
                                <a href="#"><img class="w-4 inline-block" src="icons/delete.svg" alt="delete"></a>
                            </div>
                        </td>
                    </tr> -->
                    <tr class="bg-gray-200 border-b-2">
                        <td class="p-2"><input class="form-input" type="datetime-local" name="date-time" id="date-time" value=""></td>
                        <td><select class="form-select">
                            <option value="1"></option>
                        </select></td>
                        <td><input type="number" step=".01" name="amount" id="amount" value="0"></td>
                        <td><input type="text" placeholder="note"></td>
                        <td>
                            <div class="flex gap-4 justify-end pr-4">
                                <a href="#"><img class="w-4 inline-block" src="icons/add.svg" alt="add"></a>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr class="bg-red-200 border-b-2">
                        <td class="p-2">2023-03-07 18:01</td>
                        <td>Expense</td>
                        <td>Food</td>
                        <td class="pl-3">255.21</td>
                        <td>I bought some apples aaaaaaaaaaaaaaaaaa</td>
                        <td>
                            <div class="flex gap-4 justify-end pr-4">
                                <a href="#"><img class="w-4 inline-block" src="icons/edit.svg" alt="edit"></a>
                                <a href="#"><img class="w-4 inline-block" src="icons/delete.svg" alt="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-red-200 border-b-2">
                        <td class="p-2">2023-03-07 18:01</td>
                        <td>Expense</td>
                        <td>Food</td>
                        <td class="pl-3">12.34</td>
                        <td></td>
                        <td>
                            <div class="flex gap-4 justify-end pr-4">
                                <a href="#"><img class="w-4 inline-block" src="icons/edit.svg" alt="edit"></a>
                                <a href="#"><img class="w-4 inline-block" src="icons/delete.svg" alt="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-red-200 border-b-2">
                        <td class="p-2">2023-03-07 18:01</td>
                        <td>Expense</td>
                        <td>Household</td>
                        <td class="pl-3">15.01</td>
                        <td></td>
                        <td>
                            <div class="flex gap-4 justify-end pr-4">
                                <a href="#"><img class="w-4 inline-block" src="icons/edit.svg" alt="edit"></a>
                                <a href="#"><img class="w-4 inline-block" src="icons/delete.svg" alt="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-red-200 border-b-2">
                        <td class="p-2">2023-03-07 18:01</td>
                        <td>Expense</td>
                        <td>Going out</td>
                        <td class="pl-3">255.21</td>
                        <td>i'm an alcoholic</td>
                        <td>
                            <div class="flex gap-4 justify-end pr-4">
                                <a href="#"><img class="w-4 inline-block" src="icons/edit.svg" alt="edit"></a>
                                <a href="#"><img class="w-4 inline-block" src="icons/delete.svg" alt="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-slate-300 border-b-2 text-gray-500">
                        <td class="pb-2"></td>
                        <td class="pb-2"></td>
                        <td class="pb-2"></td>
                        <td class="pb-2">±2000.20</td>
                        <td class="pb-2"></td>
                        <td class="">
                            <div class="flex gap-4 justify-end pr-4">
                                <a href="#"><img class="w-4 inline-block" src="icons/add.svg" alt="add"></a>
                            </div>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <script type="module" src="app.js"></script>
</body>

</html>